{% extends 'base.html.twig' %}

{% block title %}Register
{% endblock %}

{% block body %}

	<div class="container">
		{% for flash_error in app.flashes('verify_email_error') %}
			<div class="alert alert-danger" role="alert">{{ flash_error }}</div>
		{% endfor %}
		<div class="text-center icon-form">
			<i class="fa-solid fa-user-plus"></i>
		</div>
		<h1 class="text-center mb-3">Inscrivez-vous</h1>

		<div class="row justify-content-center">
			<div class="col-6 col-lg-4 border p-3">
				{{ form_start(registrationForm) }}
				{{ form_row(registrationForm.email) }}
				{{ form_row(registrationForm.plainPassword, {
            label: 'Mot de passe'
            }) }}
				{{ form_row(registrationForm.username) }}
				<button type="submit" class="btn btn-light">Créer son compte</button>
				{{ form_end(registrationForm) }}
				<div class="mb-3 text">
					<a href="{{ path('app_login') }}">Déja un compte ?</a>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
