{% extends 'base.html.twig' %}

{% block title %}Hello TrickController!
{% endblock %}

{% block body %}
    <div class="container mt-5">
        <div class="row justify-content-center mt-5">
            <div class="col-md-12">
                <div class="card mt-5 p-4">
                    <div class="card-img-featured position-relative mb-3">
                        {% set featuredImage = pictures.first() %}
                        <img class="img-featured" src="{{ asset(featuredImage.path) }}" alt="">
                        {% if is_granted('ROLE_USER_VALID') %}
                            <div class="edit-link position-absolute">
                                <form method="post" action="{{ path('app_trick_controller_delete', {'id': trick.id}) }}"
                                      onsubmit="return confirm('Are you sure you want to delete this item?');">
                                    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ trick.id) }}">
                                    <button class="btn">Delete</button>
                                </form>
                                <a href="">
                                    <i class="fa-solid fa-pen-clip"></i>
                                </a>
                            </div>
                        {% endif %}
                        <h2 class="trick-title position-absolute">{{ trick.name | capitalize }}</h2>
                    </div>
                    <hr>
                    <div class="row justify-content-evenly my-3">
                        {% for picture in pictures %}
                            <div class="col-2">
                                <img style="width: 100%; height: 100%; object-fit: cover;"
                                     src="{{ asset(picture.path) }}" alt="">
                            </div>
                        {% endfor %}
                        {% for movie in movies %}
                            <div class="col-2">
                                <iframe width="100%" height="100%" src="https://www.youtube.com/embed/{{ movie.code }}"
                                        title="YouTube video player"
                                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                                        allowfullscreen></iframe>
                            </div>
                        {% endfor %}
                    </div>
                    <hr>
                    <div class="row mt-3">
                        <div class="col-12">
                            <h2 class="text-center">Description</h2>
                            <p>{{ trick.description }}</p>
                        </div>
                    </div>
                    <div class="d-flex mt-3">
                        <ul class="list-inline mx-auto justify-content-center mb-0">
                            <li class="list-inline-item p-3 border rounded">Par :
                                {{ author.username }}</li>
                            <li class="list-inline-item p-3 border rounded">Ajouté le :
                                {{ trick.CreationDate|date("d/m/Y") }}</li>
                            <li class="list-inline-item p-3 border rounded">Catégorie :
                                {{ trick.group.name }}</li>
                        </ul>
                    </div>
                </div>

                <div class="card p-4 mt-5">
                    {% if is_granted('ROLE_USER_VALID') %}
                        {{ form_start(commentForm) }}
                        {{ form_row(commentForm.content) }}
                        <button type="submit" class="btn btn-light">Ajouter un commentaire</button>
                        {{ form_end(commentForm) }}
                    {% else %}
                        <p class="mb-0 text-center">
                            <a href="{{ path('app_register') }}">Inscrivez-vous</a>
                            ou
                            <a href="{{ path('app_login') }}">connectez vous</a>
                            pour commenter cet article</p>
                    {% endif %}
                </div>

                <div id="comment">
                    {{ firts_comments.content | raw }}
                </div>
                <a id="load-more" href="{{ path('comment', {'id': trick.id}) }}" data-page="2">Load more</a>
            </div>
        </div>
    </div>
{% endblock %}
